.auth-btn {
  width: 100%;
  padding: 12px;
  background: #167ee0;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 12px;
  transition: 0.2s;
}

.auth-btn:hover {
  background: #0f5eb8;
}
